
.icon i{
    font-size: 26px;
    padding: 10px;
    color:white;
}

.icon a{
    text-decoration: none;
    transition: ease-in-out 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    width: 52px;
    height: 50px;
    background-color: #eff2f8;
    color: white;
}

.contact-from{
    border-top:3px solid #219DD8;
    border-bottom:3px solid #219DD8;
    
}
.contact-from i{
    color:#219DD8
}