/* skills start */
.skills-option h2 {
    font-weight: 700;
    font-size: 35px;
    color: #37517e;
    font-family: "Poppins", sans-serif;
}

.progress .skills{
    padding: 0;
    margin: 0 0 6px 0;
    text-transform: uppercase;
    display: block;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    color: #37517e;
}

.progress .skills .val{
    float: right;
    font-style: normal;
}

.skill-left .skill-left-img:hover img{
    transform: scale(1.03);
}

.skill-left .skill-left-img img{
    transition: all 0.6s;
}
/* skills end */